@import './colors.css';

.footer {
  background-color: var(--dark-pink);
  color: var(--white);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
